<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Конвертер валюты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-light justify-content-end">
    <span class="navbar-text mr-4 ml-2" sec:authentication="name"/>
    <form th:action="@{/logout}" method="post">
        <button class="btn btn-primary">Выйти</button>
    </form>
</nav>
<div class="container border bg-white shadow rounded py-4">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link waves-effect waves-light" href="/">Конвертер</a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-effect waves-light active" href="/history">История</a>
        </li>
    </ul>
    <div class="form-group m-5">
        <form th:action="@{/history}" method="get">
            <div class="row justify-content-center">
                <div class="form-group col-md-2">
                    <input class="form-control" type="date" name="date" th:value="${date}">
                </div>
                <div class="form-group col-md-3">
                    <select class="form-control" name="sourceCurrencyId">
                        <option th:value="0">--</option>
                        <option th:each="currency : ${currencies}"
                                th:value="${currency.id}"
                                th:text="${currency.toString()}"
                                th:selected="${currency.id == sourceCurrencyId}">
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <select class="form-control" name="targetCurrencyId">
                        <option th:value="0">--</option>
                        <option th:each="currency : ${currencies}"
                                th:value="${currency.id}"
                                th:text="${currency.toString()}"
                                th:selected="${currency.id == targetCurrencyId}">
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <button class="form-control btn btn-primary">Поиск</button>
                </div>
            </div>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Исходная валюта</th>
            <th scope="col">Целевая валюта</th>
            <th scope="col">Исходная сумма</th>
            <th scope="col">Получаемая сумма</th>
            <th scope="col">Дата</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="conversion : ${conversions}">
            <td th:text="${conversion.sourceCurrency}">
            <td th:text="${conversion.targetCurrency}">
            <td th:text="${conversion.amount}">
            <td th:text="${conversion.convertedAmount}">
            <td th:text="${#dates.format(conversion.date, 'dd.MM.yyyy')}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
